@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #ffffff;
  --sb-size: 1px;
}

#calendar::-webkit-scrollbar {
  width: var(--sb-size);
}

#calendar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

#calendar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  #calendar {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus {
  background-color: #fdba74;
}
