:root {
  --font-open-sans: 'Open Sans', sans-serif;
  --font-outfit: 'Outfit', serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}
