:root {
  --font-open-sans: 'Open Sans', sans-serif;
  --font-outfit: 'Outfit', serif;
  --sx-color-primary: #1a4867 !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.sx__week-header {
  z-index: 0 !important;
}

.sx__calendar {
  border: 0 !important;
  border-radius: 1.5rem !important;
}

.rdp-root {
  --rdp-accent-color: #1a4867 !important;
}
